body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-size: 10px;
}

section {
  background: #f6f6f6;
  font-size: 12px;
}

h5 {
  background: #f0e68c;
}

.hr {
  min-height: 2px;
  width: 100%;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 1px;
  border-top: 2px solid gray;
}

.row {
  padding: 10px;
}

.main {
  background-color: white;
  border: 1px solid lightblue;
  padding: 20px;
  margin: 0;
}

.center {
  text-align: left;
  padding: 1px;
  margin: 0 auto;
}

.contents {
  max-width: 200px;
  background: rgb(241, 241, 241);
  margin: 0 auto;
  padding: 10px;
}